<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longbow.user.dal.mapper.SysDeptRoleMapper">
  <resultMap id="BaseResultMap" type="com.longbow.user.dal.po.SysDeptRole">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
</mapper>